.profile__title {
  margin: 0px;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  color: #FFFFFF;
}

@media screen and (max-width: 600px) {
  .profile__title {
      font-size: 27px;
      line-height: 33px;
      text-align: center;
      padding-left: 28px;
  }
}