.profile__info {
  max-width: 336px;
  margin: auto;
  margin-left: 30px;
  display: grid;
  column-gap: 18px;
  row-gap: 16px;
  grid-template-columns: auto 24px;
  grid-template-rows: 39px 18px;
  align-items: baseline;
}

@media screen and (max-width: 600px) {
  .profile__info {
      width: 282px;
      margin-top: 26px;
      grid-template-columns: auto 18px;
      grid-template-rows: 26px 14px;
      column-gap: 10px;
      row-gap: 14px;
      justify-content: center;
  }
}