.button {
  border: none;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 2px;
  transition: opacity 0.5s ease-in-out;
}

.button:hover {
  opacity: .6;
}