.profile__button_size_big {
  background-image: url('../../../../images/profile-button-plus.svg');
  background-size: 22px 22px;
  min-width: 150px;
  min-height: 50px;
  margin: auto 0px;
  border-width: 2px;
}

@media screen and (max-width: 726px) {
  .profile__button_size_big {
      min-width: 486px;
      min-height: 50px;
      margin: 0px;
      margin-top: 36px;
  }
}

@media screen and (max-width: 600px) {
  .profile__button_size_big {
      background-size: 16px 16px;
      min-width: 282px;
  }
}