.element__favorite-icon {
  background-size: 22px 19px;
  min-width: 22px;
  min-height: 19px;
  transition: background-image 0.3s ease-in-out;
  background-image: url('../../../images/favorite-icon-disabled.svg');
} 

.element__favorite-icon:hover {
  opacity: .5;
}